@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Oswald:wght@500&family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;600&family=Oswald:wght@500&family=Roboto:ital,wght@1,700&display=swap');


body {
  margin: 0%;
  padding: 0%;
}

.heading {
  font-family: 'Josefin Sans', cursive;
}
.MuiInput-root {
  border-bottom: 2px solid #0275d8 !important;
}
.errorMessage {
  font-size: 10px !important;
  margin:0 !important
}
.adminInput {
  position: relative;
  height: 90px;
}
.selectorText {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.clientSignupTitle {
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
}
.clientSignupGoogleButton {
  margin-top: 150px !important;
  width: 100px !important;
}
.adminHeading {
  font-family: 'Righteous', cursive;
  margin-left: 38px;
  margin-top: 7px;
  margin-bottom: 15px;
}
.css-1oqqzyl-MuiContainer-root {
  max-width: 5000px !important; 
}
#root :is(.mt-4) {
  margin-top: 3.5rem !important;
}
.clientSignupTitle2 {
  font-family: 'Righteous', cursive;
  margin-left: 170px !important;
}
.css-19kzrtu {
  padding: 0px !important;
}
.stepper {
  max-width: 2000px !important;
}
.gigTitle {
  margin-top: 90px;
  margin-left: 200px;
  width: 500px !important;
}
.gigCategory {
  margin-left: 200px;
  margin-top: 65px;
  width: 240px;
}
.gigSubCategory {
  margin-left: 20px;
  margin-top: 65px;
  width: 240px;
}
.gigKeyword {
  margin-top: 15px;
  width: 500px !important;
  margin-left: 20px;
}
.css-1s0tand-MuiContainer-root {
  margin-left: 0;
}
.positiveKeyAdd {
  margin-top: 154px !important;
  margin-left: 15px !important;
}
.packege {
  font-family: 'Montserrat', sans-serif;
}
.css-18wdohr-MuiStack-root>:not(style)+:not(style) {
  margin-top: 50px;
}
.css-18wdohr-MuiStack-root>:not(style)+:not(style) {
  margin-left: 100px;
}
.ql-editor {
  height: 300px !important;
}
.ql-toolbar.ql-snow {
  background-color: black !important;
}
.gigCreationQuill {
  width: 1202px !important;
  margin-left: -25px !important;
}
.css-15ikzce-MuiSvgIcon-root {
  margin-top: -58 !important;
}
.galleryContainer {
  max-width: 1351px !important;
  padding-bottom: 50px;
  background-color: #cccccc;
  margin-left: -25px;
  width: 1351px
}
.ClientHomeBanner {
  width: 1300px;
  height: 330px;
  background: url('components/clientHomePageComponents/blue-1634110.png');
  background-repeat: no-repeat;
  background-size: 1300px 330px;
  margin-top: 30px;
  border-radius: 30px;
  max-width: 2000px !important;
}
.clientHomeCardImg {
  height: 100%;
  width: 345px !important;
  transition: 1000ms !important;

}
.clientHomeCard {
  overflow: hidden;
}
.clienCardGroup {
  width: 1200px !important;
  margin-left: 45px !important;
  filter: drop-shadow(2px 2px 5px #0b103b);
}
.clientHomeCard {
  margin-top: 50px;
  margin-left: 50px;
  width: 345px !important
}
.clientHomeCardContent {
  margin-top: -50px;
  margin-left: -2px;
  background: rgba(255, 255, 255, 0.8);
  color: white;
  width: 350px;
  height: 47px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 1000ms !important;
}
.clienCardGroup:hover .clientHomeCardContent{
  visibility: visible;
  opacity: 1;
}
.clienCardGroup:hover .clientHomeCardImg{
  transform: scale(1.1) rotate(-3deg);
  cursor: pointer;
}
.gigListCard {
  filter: drop-shadow(1px 1px 2px #0b103b);
}
.gigListCardGroup {
  margin-left: -50px !important;
  padding-bottom: 10px !important;
}
.gigListCard:hover .gigListTitle{
  color: #7a6b00 !important
}
.gigListCard:hover {
  cursor: pointer;
}
.clientActiveMessenger {
  cursor: pointer;
  transition: 500ms;
}
.content {
          max-width: 10%;
        overflow-wrap: break-word;
        padding: 1rem;
        font-size: 1.1rem;
        border-radius: 1rem;
        color: #d1d1d1;
        background-color: #9900ff20;
        @media screen and (min-width: 720px) and (max-width: 1080px) {
          max-width: 70%;
        }
}
.sended {
  justify-content: flex-end;
}
.msgContainer {
  width: 830px;
  padding: 10px;
}
.message-blue {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #A8DDFD;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #97C6E3;
  border-radius: 10px;
}
.message-content {
  padding: 0;
  margin: 0;
}
.message-timestamp-left {
  position: absolute;
  font-size: .85em;
  font-weight: 300;
  bottom: 5px;
  left: 5px;
}
.message-blue:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #A8DDFD;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}
.message-blue:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #97C6E3;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}
.clientChatContainer {
  overflow: auto;
}
::-webkit-scrollbar {
  width: 0.2rem;

}
.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}
.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}
.fOGNtD .button-container .emoji .EmojiPickerReact {
  top: -470px !important;
}
